<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.maqueta_conexion">

    <!-- Solicito permiso para que la aplicación pueda usar módulo bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- TODO 1.1 Permiso de localizacion -->
    <!-- Es necesario para poder realizar busquedas -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HMI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity android:name=".Mando0"></activity>
        <activity android:name=".Mando6" />
        <activity android:name=".Mando5" />
        <activity
            android:name=".Mando4"

            android:screenOrientation="landscape" />
        <!-- android:screenOrientation="landscape"  />-->

    <activity android:name=".mando3" />
    <activity
        android:name=".Mando2"
        android:label="@string/title_activity_mando2"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".Mando1"/>
    <activity android:name=".MotorActivity" />
    <activity android:name=".BluetoothMainActivity"/>
    <activity android:name=".MainActivity">


        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>

</manifest>